.new-team-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.new-team-color-box {
    width: 180px;
    height: 90px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.new-team-form {
    display: inline-block;
    text-align: center;
}

.new-team-input-box {
    margin-bottom: 1rem;
}

.new-team-input-name {
    padding: 0.5rem;
    width: 250px;
}

.new-team-input-box-left {
    margin-bottom: 1rem;
    display: inline-block;
    margin-right: 1rem;
}

.new-team-input-box-right {
    margin-bottom: 1rem;
    display: inline-block;
}

.new-team-input-color {
    width: 60px;
    height: 40px;
    cursor: pointer;
}

.new-team-button {
    background-color: green;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-right: 1rem;
}

.new-team-error {
    color: red;
}

.new-team-back-link {
    text-decoration: none;
    color: #007bff;
}