.body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.body-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 30px;
    justify-content: center;
    width: 95%;
}

.body-button {
    background-color: #28a745;
    color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0.5rem;
    align-content: center;
    width: 170px;
    min-height: 100px;
}