.menu {
    background-color: #282c34;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    max-height: 8rem;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}