.top-bar {
    width: 90%;
    max-width: 2000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.top-bar-title {
    margin: 0
}